@import '/src/styles/index.scss';

.cell {
    border: 1px solid #c3c3c3;

    height: 100%;
    width: 100%;

    background-color: $secondary;
}

.cell:hover {
    background-color: rgba(144, 190, 183, 0.89);
}

.cell-snake {
    background-color: $brand;
}

.cell-fruit {
    background-color: $surface2;

    animation-duration: 0.5s;
    animation-name: fruitappear;
}