<div class="color-grid-wrapper">
    <div class="color-grid">
        <div class="color-grid__1 color-palette">1</div>
        <div class="color-grid__2 color-palette">2</div>
        <div class="color-grid__3 color-palette">3</div>
        <div class="color-grid__4 color-palette rad-brand-shadow">4</div>
    </div>
    <div>
        <div class="text-samples">
            <div class="text-samples__1 text-sample">
                <span class="text-sample__icon"></span>
                Brand
            </div>
            <div class="text-samples__2 text-sample">
                <span class="text-sample__icon"></span>
                Text Color 1
            </div>
            <div class="text-samples__3 text-sample">
                <span class="text-sample__icon"></span>
                Text Color 2
            </div>
        </div>
    </div>
</div>