@import '/src/styles/index.scss';

:host {
    display: block;
    background-color: $surface1;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.header__logo {
    display: block;
}

.board {
    display: grid;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    width: 80vh;
    height: 80vh;

    margin-inline-start: auto;
    margin-inline-end: auto;

    border: 0.5rem solid $surface3;
    border-radius: 0.2rem;
}

.score {
    font-size: 1.5rem;
    font-weight: 600;
}