<header class="header">
    <span class="score">{{gameService.score$ | async}}</span>
    <img
        class="header__logo"
        src="assets/snake.png"
        width="60px"
        height="60px"
    >

    <button *ngIf="!(gameInProgress$ | async)" class="button rad-brand-shadow" (click)="gameStart()">Start</button>
    
    <ng-container *ngIf="gameInProgress$ | async">
        <button *ngIf="gameInProgress$ | async" class="button rad-brand-shadow" (click)="gameStop()">Stop</button>
        <button *ngIf="(paused$ | async)" class="button rad-brand-shadow" (click)="gameResume()">Resume</button>
        <button *ngIf="!(paused$ | async)" class="button rad-brand-shadow" (click)="gamePause()">Pause</button>
    </ng-container>
</header>

<div *ngIf="board$ | async as board" class="board rad-brand-shadow">
    <ng-container *ngFor="let row of board.cells">
        <s-cell *ngFor="let item of row; trackBy: trackBy" [type]="item.type"></s-cell>
    </ng-container>
</div>

<ng-template #overlay>
    <div class="overlay"></div>
</ng-template>

<ng-template #gameOver>
    <div class="gameover-modal">
        <h2 class="gameover-modal__header">
            Game over!
        </h2>
        <div class="gameover-modal__statistic">
            <h3>Your score is: {{gameService.score$ | async}}</h3>
        </div>

        <button (click)="gameTryAgain()">Try again!</button>
    </div>
</ng-template>
