@import './light.scss';
@import './elements/buttons';

@keyframes fruitappear {
    from {
        background-color: $secondary;
    }

    to {
        background-color: $surface2;
    }
}

@keyframes button-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}