$brand: #7BD0A7;
$secondary: #DFF7F2;

$surface1: #FEF1ED;
$surface2: #FAAF96;
$surface3: #AD5A3E;

$text-brand: #0F1A14;
$text1: #17100E;
$text2: #4D3B36;

$brand-shadow: hsl(166 10% 20%);
$shadow-strength: 0.12;

$overlay: #e2d8d5;
