$game-over-modal-height: 400px;
$game-over-modal-width: 600px;

.modal {
    position: fixed;
    border: 1px;

    background-color: gray;

    height: $game-over-modal-height;
    width: $game-over-modal-width;

    top: calc(50vh - calc($game-over-modal-height / 2));
    left: calc(50vw - calc($game-over-modal-width / 2));

    z-index: 2;
}

.overlay {
    position: fixed;
    background-color: red;

    height: 100vh;
    width: 100vw;

    top: 0px;
    left: 0px;

    opacity: 0.5;
}